<div class="container">
    <header>
        <h1>LUCAS & JOSEPH</h1>
    </header>
    
    <main>
        <img src="../../../../../assets/email.png"  alt="Envelope">
        <h2>Verify your email to finish signing up</h2>
        <p>Thank you for choosing Us.</p>
        <p>Please confirm that <strong>your_email@example.com</strong> is your email address by clicking on the button below or use the link <a href="#">https://lucasandjoseph.com/confirm-email</a> within 48 hours.</p>
        <button>Verify my email</button>
    </main>
    <footer>
        <p>Need help?</p>
    </footer>
