<mat-toolbar color="primary">
    <span>Centre de Formation</span>
    <span class="spacer"></span>

  <button mat-button class="auth-button" *ngIf="!isLoggedIn" (click)="login()">Login</button>
  <button mat-button class="auth-button" *ngIf="isLoggedIn" (click)="logout()">Logout</button>
  </mat-toolbar>
  
  <div class="content">
    <div class="center-info">
      <app-center></app-center>
    </div>
  
    <div class="courses-list">
      <app-courses></app-courses>
    </div>
  </div>
  
  <mat-toolbar color="accent" class="footer">
    <span>&copy; 2024 - Centre de Formation</span>
  </mat-toolbar>
  
  <button mat-fab color="primary" class="scroll-to-top" (click)="scrollToTop()">
    <mat-icon>keyboard_arrow_up</mat-icon>
  </button>