.cards-container{
    display: flex; 
    flex-direction: row ;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px; 
    margin: 10px;
   
}



.addBtn{
    float: left;
}
.searchForm{
    float: right;
    height: 50px;
}
.searchInput{
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.parent{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px; 
    margin: 10px;
    /* width: 100%;
    height: 100%; */
    overflow: hidden;
}