<div class="container">
  <form [formGroup]="form" (ngSubmit)="updateTrainer()" enctype="multipart/form-data">
    <div class="file-upload-container">
      <label class="file-upload-label" for="fileInput">
        <span><mat-icon>attach_file</mat-icon></span>
        <input type="file" id="fileInput" placeholder="Select" (change)="onFileSelected($event)">
        <mat-icon style="color: rgb(10, 9, 9) !important;">attach-file</mat-icon>
      </label>
      <div class="image-preview">
        <div class="circle-image">
          <img [src]="imagePreview || 'assets/character_default_avatar.png'" alt="Selected Image" class="preview-image">
        </div>
      </div>
    </div>
    <div class="form-content">
      <div class="form-column">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>First Name</mat-label>
          <input matInput type="text" formControlName="firstName" placeholder="First Name">
          <mat-error *ngIf="form.get('firstName')?.invalid && form.get('firstName')?.touched">
            <ng-container *ngIf="form.get('firstName')?.errors?.['required']">First Name is required</ng-container>
            <ng-container *ngIf="form.get('firstName')?.errors?.['minlength']">Minimum length is 3</ng-container>
            <ng-container *ngIf="form.get('firstName')?.errors?.['maxlength']">Maximum length is 20</ng-container>
            <ng-container *ngIf="form.get('firstName')?.errors?.['pattern']">First Name should contain only letters and spaces</ng-container>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" formControlName="lastName" placeholder="Last Name">
          <mat-error *ngIf="form.get('lastName')?.invalid && form.get('lastName')?.touched">
            <ng-container *ngIf="form.get('lastName')?.errors?.['required']">Last Name is required</ng-container>
            <ng-container *ngIf="form.get('lastName')?.errors?.['minlength']">Minimum length is 3</ng-container>
            <ng-container *ngIf="form.get('lastName')?.errors?.['maxlength']">Maximum length is 20</ng-container>
            <ng-container *ngIf="form.get('lastName')?.errors?.['pattern']">Last Name should contain only letters and spaces</ng-container>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" placeholder="Email">
          <mat-error *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
            <ng-container *ngIf="form.get('email')?.errors?.['required']">Email is required</ng-container>
            <ng-container *ngIf="form.get('email')?.errors?.['email']">Invalid email format</ng-container>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Phone Number</mat-label>
          <input matInput type="text" formControlName="phoneNumber" placeholder="Phone Number">
          <mat-error *ngIf="form.get('phoneNumber')?.invalid && form.get('phoneNumber')?.touched">
            <ng-container *ngIf="form.get('phoneNumber')?.errors?.['required']">Phone Number is required</ng-container>
            <ng-container *ngIf="form.get('phoneNumber')?.errors?.['pattern']">Phone Number should be exactly 10 digits</ng-container>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Address</mat-label>
          <input matInput type="text" formControlName="address" placeholder="Address">
          <mat-error *ngIf="form.get('address')?.invalid && form.get('address')?.touched">
            <ng-container *ngIf="form.get('address')?.errors?.['pattern']">Address should contain only letters and spaces</ng-container>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>City</mat-label>
          <input matInput type="text" formControlName="city" placeholder="City">
          <mat-error *ngIf="form.get('city')?.invalid && form.get('city')?.touched">
            <ng-container *ngIf="form.get('city')?.errors?.['pattern']">City should contain only letters and spaces</ng-container>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-column">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Institution Name</mat-label>
          <input matInput type="text" formControlName="institutionName" placeholder="Institution Name">
          <mat-error *ngIf="form.get('institutionName')?.invalid && form.get('institutionName')?.touched">
            <ng-container *ngIf="form.get('institutionName')?.errors?.['required']">Institution Name is required</ng-container>
            <ng-container *ngIf="form.get('institutionName')?.errors?.['pattern']">Institution Name should contain only letters and spaces</ng-container>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Department Name</mat-label>
          <input matInput type="text" formControlName="departmentName" placeholder="Department Name">
          <mat-error *ngIf="form.get('departmentName')?.invalid && form.get('departmentName')?.touched">
            <ng-container *ngIf="form.get('departmentName')?.errors?.['required']">Department Name is required</ng-container>
            <ng-container *ngIf="form.get('departmentName')?.errors?.['pattern']">Department Name should contain only letters and spaces</ng-container>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Years of Experience</mat-label>
          <input matInput type="number" formControlName="yearsOfExperience" placeholder="Years of Experience">
          <mat-error *ngIf="form.get('yearsOfExperience')?.invalid && form.get('yearsOfExperience')?.touched">
            <ng-container *ngIf="form.get('yearsOfExperience')?.errors?.['required']">Years of Experience is required</ng-container>
            <ng-container *ngIf="form.get('yearsOfExperience')?.errors?.['pattern']">Years of Experience should be a number between 0 and 99</ng-container>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Degree</mat-label>
          <input matInput type="text" formControlName="degree" placeholder="Degree">
          <mat-error *ngIf="form.get('degree')?.invalid && form.get('degree')?.touched">
            <ng-container *ngIf="form.get('degree')?.errors?.['required']">Degree is required</ng-container>
            <ng-container *ngIf="form.get('degree')?.errors?.['pattern']">Degree should contain only letters and spaces</ng-container>
          </mat-error>
          <mat-hint>*add ',' to separate degrees</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <div class="btnContainer">
      <button mat-raised-button color="warn" type="button" (click)="onNoClick()">Cancel</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Edit Trainer</button>
    </div>
  </form>
</div>
