<div class="action-section" color="primary">
  <button class="addBtn" mat-raised-button color="primary" (click)="openModal()">Add New Course -></button>
  
  <form [formGroup]="searchForm" class="searchForm" (submit)="submitForm()">
      <mat-form-field appearance="outline" class="searchInput">
          <mat-label>Search Course</mat-label>
          <input matInput formControlName="title" aria-label="Search Course"/>
          <button mat-button matSuffix color="primary" aria-label="Search">
              <mat-icon>search</mat-icon>
          </button>
      </mat-form-field>
  </form>
</div>

<section class="section dark">
  <ul class="card-list">
      <li *ngFor="let course of courses">
          <div class="card">
              <div class="visual">
                  <img class="card-image" [src]="getImageUrl(course.image) || '/src/assets/DefaultImage.png'" alt="Course Image"/>
              </div>
              <div class="content">
                  <div class="meta">
                      <div class="card-header">
                          <div class="category">{{course.categoryName}}</div>
                          <h3 class="title">{{course.name}}</h3>
                      </div>
                      <p class="desc">{{course.description}}</p>
                  </div>
                  <div class="controls">
                      <a [routerLink]="['/admin/courses/details', course.id]" class="button-link primary">
                          Details
                          <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M13.1667 1.6665L16.5 4.99984M16.5 4.99984L13.1667 8.33317M16.5 4.99984L1.5 4.99984" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                      </a>
                      <button class="delete"  (click)="deleteCourse(course.id)"><mat-icon color="warn">delete_sweep</mat-icon></button>

                      <button mat-raised-button color="warn" 
                      [routerLink]="['/admin/courses/edit', course.id]"
                      >Edit</button>
                      <button class="likeBtn" *ngIf="!like" (click)="likeToggle()"><mat-icon color="warn">favorite_border</mat-icon></button>
                      <button class="likeBtn" *ngIf="like" (click)="likeToggle()"><mat-icon color="warn">favorite</mat-icon></button>
                  </div>
              </div>
          </div>
      </li>
  </ul>
</section>
