<mat-card *ngIf="center" class="center-card">
    <mat-card-header class="center-header">
      <mat-card-title class="center-title">{{ center.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="center-content">
      <div class="center-info">
        <div class="description">
          <p><strong>Description: </strong>{{ center.description }}</p>
          <p><strong>Location :</strong> {{ center.location }}</p>
        </div>
        <div class="logo">
          <img [src]="getImageUrl(center.image)" alt="{{center.name}}">
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  