.container {
width: 100%;
    margin: auto;
    background-color: #f8f9fa;
    padding: 20px;
  }
  
  .labels {
    font-size: 14px;
    font-weight: 500;
  }
  
  .profile-button {
    width: 100%;
  }
  
  .add-experience {
    cursor: pointer;
    color: #007bff;
  }
  
  .add-experience:hover {
    background-color: #007bff;
    color: white;
  }
  
  .shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .d-flex.justify-content-between .h5 {
    font-weight: 600;
  }
  