/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
/* body { } */
body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0; 
     font-family: Roboto, "Helvetica Neue", sans-serif;   
}

::selection{
    
    color:rgb(52, 21, 176) ;
}